@font-face {
    font-family: Open-Sans;
    src: url(../Fonts/OpenSans-Regular.ttf);
}

 #Wrapper{
    margin: 10% auto;
    position: absolute;
}

.contact {
    text-align: center;
    margin-bottom: 0%;
}

.contact-container {
    display: flex;
    align-content: center;
}

.collapse {
    text-align: center;
    margin: 0%;
}

.card-body {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

#header {
    text-align: center;
    font-size: x-large;
}