@font-face {
    font-family: HindGuntur-Regular;
    src: url(../Fonts/HindGuntur-Regular.ttf);
}

@font-face {
    font-family: Cardo-Regular;
    src: url(../Fonts/Cardo-Regular.ttf);
}

@font-face {
    font-family: Metrophobic-Regular;
    src: url(../Fonts/Metrophobic-Regular.ttf);
}

 #Wrapper{
    margin: 10% auto;
    position: absolute;
}

#contact {
    text-align: center;
    margin-bottom: 0%;
}

.contact-container {
    display: flex;
    align-content: center;
}

.collapse {
    text-align: center;
    margin: 0%;
    font-family: Metrophobic-Regular;
}

.card-body {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

#header {
    text-align: center;
    font-size: 90pt;
    font-weight: 600;
    font-family: HindGuntur-Regular;
}

#tagline {
    text-align: center;
    font-size: 20pt;
    font-weight: 200;
    font-family: Cardo-Regular;
}