@font-face {
    font-family: HindGuntur-Regular;
    src: url(../Fonts/HindGuntur-Regular.ttf);
}

@font-face {
    font-family: Cardo-Regular;
    src: url(../Fonts/Cardo-Regular.ttf);
}

@font-face {
    font-family: Metrophobic-Regular;
    src: url(../Fonts/Metrophobic-Regular.ttf);
}

 #main{
    background-color: #1d2228;
}

#contact {
    text-align: center;
    margin-bottom: 0%;
}

.collapse {
    text-align: center;
    margin: 0%;
    font-family: Metrophobic-Regular;
    color: #e1e2e2;
}

.card {
    background-color: #2A2B2A;
}

.card-body {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: #fb8812;
}

#header {
    text-align: center;
    font-size: 90pt;
    font-weight: 600;
    font-family: HindGuntur-Regular;
    color: #e1e2e2 ;
}

#tagline {
    text-align: center;
    font-size: 20pt;
    font-weight: 200;
    font-family: Cardo-Regular;
    color: #e1e2e2;
}